doctype html
html
  head
    title Mapa virtual para uma Ontologia
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  div(class='w3-container')
    block content
